<div [style.height.px]="height" style="display: flex; flex-direction: column-reverse; background-color:purple">
  <div style="position:relative" *ngFor="let m of menuItems" (click)="navClick(m)" [ngStyle]="{ 'flex-grow' : m.GrowFactor }"
    [ngClass]="{ 'bkgnd-closed' : IsClosed(m), 'bkgnd-open' : IsOpen(m) }">
    <div class="header" [ngClass]="{ 'bkgnd-closed' : IsClosed(m), 'bkgnd-open' : IsOpen(m) }">
      <div class="header-label">
        <i data-fa-transform="grow-3" class="icon {{ m.FontAwesomeCategory }} {{ m.FontAwesome }}"></i> {{m.name}}
      </div>
      <div class="header-chevron">
        <span *ngIf="m.IsExpanded">
          <i class="fas fa-chevron-down"></i>
        </span>
        <span *ngIf="!m.IsExpanded">
          <i class="fas fa-chevron-up"></i>
        </span>
      </div>
    </div>
    <div *ngIf="m.IsExpanded" [style.height.px]="scrollHeight" class="scrollable">
      <ul class="list-group">
        <li class="list-group-item list-item" *ngFor="let l of m.items">{{l.name}}</li>
      </ul>
    </div>
  </div>
</div>